{% extends 'layout/base.html' %} {% block title %}Mon Compte{% endblock %} {%
block main_content %}
<div class="container">
  <h2 class="mb-4">Mon Compte</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Nom d'utilisateur</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        value="{{ user.username }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="{{ user.email }}"
        required
      />
    </div>
    <div class="mb-3">
      <label for="first_name" class="form-label">Prénom</label>
      <input
        type="text"
        class="form-control"
        id="first_name"
        name="first_name"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="mb-3">
      <label for="last_name" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="last_name"
        name="last_name"
        value="{{ user.last_name }}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>

  <h3 class="mt-5">Changer le Mot de Passe</h3>
  <form method="post">
    {% csrf_token %} {{ password_form.as_p }}
    <button type="submit" class="btn btn-danger">
      Changer le Mot de Passe
    </button>
  </form>
</div>
{% endblock %}
