{% extends 'base.html' %}
{% block title %}Inscription{% endblock %}
{% block content %}
<div class="flex min-h-full flex-col justify-center   w-full h-full">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
     {% load static %}
    <img
     class="mx-auto h-10 w-auto w-20 h-20"
     src="{% static 'assets/images/logos/logo.png' %}"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900"
    >
      Créez votre compte
    </h2>
  </div>
  {% if messages %}
  <div class="mt-4">
    {% for message in messages %}
    <p class="text-red-500">{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="w-[600px] ml-[400px]">
    <form method="post" class="space-y-6">
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label
            for="id_username"
            class="block mb-2 text-sm font-medium text-gray-900 "
            >Nom d'utilisateur</label
          >
          <div class="flex">
            <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border rounded-e-0 border-gray-300 border-e-0 rounded-s-md">
              <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
              </svg>
            </span>
            <input
              type="text"
              name="username"
              id="id_username"
              required
              class="rounded-none rounded-e-lg bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5"
            />
          </div>
        </div>
        <div>
          <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900">
            Email
          </label>
          <div class="relative mb-2">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                  <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                  <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
              </svg>
            </div>
            <input
              type="email"
              name="email"
              id="id_email"
              required
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
            />
          </div>
        </div>
        <div>
          <label for="id_phone" class="block text-sm font-medium text-gray-900">
            Téléphone
          </label>
          <div class="">
            <input
              type="tel"
              name="phone"
              id="id_phone"
              required
             class=" intl-tel-input bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-72 p-2.5"
            />
          </div>
        </div>
        <div>
          <label for="id_role" class="block text-sm font-medium text-gray-900"
            >Rôle</label
          >
          <div class="">
            <select
              name="role"
              id="id_role"
              required
              class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600"
            >
              <option value="gestionnaire_stocks">
                Gestionnaire de Stocks
              </option>
              <option value="gestionnaire_ventes">
                Gestionnaire de Ventes
              </option>
            </select>
          </div>
        </div>
        <div>
          <label
            for="id_password"
            class="block text-sm font-medium text-gray-900"
            >Mot de passe</label
          >
          <div class="mt-2">
            <input
              type="password"
              name="password"
              id="id_password"
              required
              class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600"
            />
          </div>
        </div>
        <div>
          <label
            for="id_password_confirm"
            class="block text-sm font-medium text-gray-900"
            >Confirmer le mot de passe</label
          >
          <div class="mt-2">
            <input
              type="password"
              name="password_confirm"
              id="id_password_confirm"
              required
              class="block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-600"
            />
          </div>
        </div>
      </div>
      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          S'inscrire
        </button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Déjà inscrit ?
      <a
        href="{% url 'login' %}"
        class="font-semibold text-indigo-600 hover:text-indigo-500"
        >Connectez-vous ici</a
      >
    </p>
  </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script>
    // Initialiser intl-tel-input
    window.addEventListener('DOMContentLoaded', (event) => {
        const input = document.querySelector("#id_phone");
        window.intlTelInput(input, {
            // Options de configuration
            initialCountry: "auto",
            geoIpLookup: function(callback) {
                fetch("https://ipinfo.io?token=YOUR_TOKEN_HERE") // Remplacez YOUR_TOKEN_HERE par votre token ipinfo
                    .then(response => response.json())
                    .then(data => callback(data.country))
                    .catch(() => callback("us")); // Valeur par défaut
            },
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" // Pour le formatage
        });
    });
</script>
{% endblock %}
