{% extends 'layout/base.html' %} {% block title %}Médicaments{% endblock %}
{%block main_content %}

<div class="flex flex-row h-[130px] justify-center">
  <h1 class="text-2xl font-bold mb-4 pt-[65px]">Gestion des Médicaments</h1>
  {% load static %}
  <img
    src="{% static 'assets\images\profile\medicament.png' %}"
    alt=""
    width="200"
    height="200"
    class="ml-28"
  />
</div>
<div class="flex justify-between items-center mb-4">
  <input
    type="text"
    id="searchInput"
    placeholder="Rechercher un médicament..."
    class="block w-1/3 h-10 p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <button
    onclick="openCreateModal()"
    class="focus:outline-none text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
  >
    Ajouter un Médicament
  </button>
</div>

<table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
  <thead class="bg-gray-400">
    <tr>
      <th class="py-2 px-4 border-b text-black font-bold">Image</th>
      <th class="py-2 px-4 border-b text-black font-bold">Nom</th>
      <th class="py-2 px-4 border-b text-black font-bold">Prix Unitaire</th>
      <th class="py-2 px-4 border-b text-black font-bold">Catégorie</th>
      <th class="py-2 px-4 border-b text-black text-center font-bold">Actions</th>
    </tr>
  </thead>
  <tbody id="medicamentTableBody">
    {% for medicament in medicaments %}
    <tr class="hover:bg-gray-300">
      <td class="py-2 px-4 border-b">
        {% if medicament.image %}
        <img
          src="{{ medicament.image.url }}"
          alt="{{ medicament.nom }}"
          class="w-20 h-20 rounded-full"
        />
        {% else %} Pas d'image {% endif %}
      </td>
      <td class="py-2 px-4 border-b">{{ medicament.nom }}</td>
      <td class="py-2 px-4 border-b">{{ medicament.prixUnitaire }}</td>
      <td class="py-2 px-4 border-b">{{ medicament.id_Categorie.nom_Categorie }}</td>
      <td class="py-2 px-4 border-b flex items-center justify-center flex-row mt-4">
        {% load static %}
        <button
          onclick="openEditModal({{ medicament.id_Medicament }}, '{{ medicament.nom|escapejs }}', '{{ medicament.description|escapejs }}', '{{ medicament.prixUnitaire }}', '{{ medicament.image.url }}', '{{ medicament.id_Categorie.id_Categorie }}')"
          class="bg-yellow-500 text-white px-1.5 py-1 rounded editStockBtn "
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-black"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
            />
          </svg>
        </button>
        <button
          onclick="confirmDeleteMedicament({{ medicament.id_Medicament }}, '{{ medicament.nom|escapejs }}')"
          class="ml-3 bg-red-500 text-white px-1.5 py-1 rounded deleteStockBtn "
        >
         <svg
            class="w-6 h-6 text-gray-800 dark:text-black"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal pour ajouter un médicament -->
<div
  id="createMedicamentModal"
  class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center"
>
  <div class="bg-white p-4 rounded w-96">
    <h2 class="text-lg font-bold">Ajouter un Médicament</h2>
    <form
      method="post"
      enctype="multipart/form-data"
      action="{% url 'medicament_create' %}"
    >
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="nom" class="block">Nom</label>
          <input
            type="text"
            name="nom"
            id="nom"
            class="border p-2 rounded w-full"
            required
          />
        </div>
        <div class="mb-4">
          <label for="id_Categorie" class="block">Catégorie</label>
          <select
            name="id_Categorie"
            id="id_Categorie"
            class="border p-2 rounded w-full"
            required
          >
            <option value="">Sélectionnez une catégorie</option>
            {% for categorie in categories %}
            <option value="{{ categorie.id_Categorie }}">
              {{ categorie.nom_Categorie }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-4">
          <label for="description" class="block">Description</label>
          <textarea
            name="description"
            id="description"
            class="border p-2 rounded w-full"
            required
          ></textarea>
        </div>
        <div class="mb-4">
          <label for="prixUnitaire" class="block">Prix Unitaire</label>
          <input
            type="number"
            name="prixUnitaire"
            id="prixUnitaire"
            class="border p-2 rounded w-full"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="image" class="block">Image</label>
        <input
          type="file"
          name="image"
          id="image"
          class="border p-2 rounded w-full"
          required
        />
      </div>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">
        Ajouter
      </button>
      <button
        type="button"
        onclick="closeCreateModal()"
        class="bg-gray-300 p-2 rounded"
      >
        Annuler
      </button>
    </form>
  </div>
</div>

<!-- Modal pour éditer un médicament -->
<div
  id="editMedicamentModal"
  class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center"
>
  <div class="bg-white p-4 rounded w-96">
    <h2 class="text-lg font-bold">Éditer un Médicament</h2>
    <form
      id="editMedicamentForm"
      method="post"
      enctype="multipart/form-data"
      action="{% url 'medicament_update' 0 %}"
      onsubmit="updateFormAction()"
    >
      {% csrf_token %}
      <input type="hidden" name="id_Medicament" id="editMedicamentId" />
      <div class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="editNom" class="block">Nom</label>
          <input
            type="text"
            name="nom"
            id="editNom"
            class="border p-2 rounded w-full"
            required
          />
        </div>
        <div class="mb-4">
          <label for="editCategorie" class="block">Catégorie</label>
          <select
            name="id_Categorie"
            id="editCategorie"
            class="border p-2 rounded w-full"
            required
          >
            {% for category in categories %}
            <option value="{{ category.id_Categorie }}">
              {{ category.nom_Categorie }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-4">
          <label for="editDescription" class="block">Description</label>
          <textarea
            name="description"
            id="editDescription"
            class="border p-2 rounded w-full"
          ></textarea>
        </div>
        <div class="mb-4">
          <label for="editPrixUnitaire" class="block">Prix Unitaire</label>
          <input
            type="number"
            name="prixUnitaire"
            id="editPrixUnitaire"
            class="border p-2 rounded w-full"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label for="editImage" class="block"
          >Image (laisser vide si pas de changement)</label
        >
        <input
          type="file"
          name="image"
          id="editImage"
          class="border p-2 rounded w-full"
        />
      </div>
      <button type="submit" class="bg-blue-500 text-white p-2 rounded">
        Mettre à jour
      </button>
      <button
        type="button"
        onclick="closeEditModal()"
        class="bg-gray-300 p-2 rounded"
      >
        Annuler
      </button>
    </form>
  </div>
</div>

<!-- Modal de confirmation de suppression -->
<div
  class="modal fade"
  id="deleteMedicamentConfirmationModal"
  tabindex="-1"
  aria-labelledby="deleteMedicamentConfirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg"> <!-- Ajout de la classe modal-lg pour élargir le modal -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteMedicamentConfirmationModalLabel" style="font-size: 24px; font-weight: bold;">
          Confirmer la Suppression
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="font-size: 18px; font-weight: bold;">
        <p id="deleteMedicamentConfirmationMessage"></p>
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-center">
        <form id="deleteMedicamentForm" method="post" action="" class="d-flex">
          {% csrf_token %}
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-dismiss="modal"
          >
            Non
          </button>
          <button type="submit" class="btn btn-outline-danger">Oui</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  function openCreateModal() {
    document.getElementById("createMedicamentModal").classList.remove("hidden");
  }

  function closeCreateModal() {
    document.getElementById("createMedicamentModal").classList.add("hidden");
  }

  function openEditModal(
    id,
    nom,
    description,
    prixUnitaire,
    imageUrl,
    id_Categorie
  ) {
    document.getElementById("editMedicamentId").value = id;
    document.getElementById("editNom").value = nom;
    document.getElementById("editDescription").value = description;
    document.getElementById("editPrixUnitaire").value = prixUnitaire;
    document.getElementById("editCategorie").value = id_Categorie;
    document.getElementById("editMedicamentModal").classList.remove("hidden");
  }

  function closeEditModal() {
    document.getElementById("editMedicamentModal").classList.add("hidden");
  }

  function confirmDeleteMedicament(id, nom) {
    document.getElementById(
      "deleteMedicamentConfirmationMessage"
    ).innerText = `Êtes-vous sûr de vouloir supprimer le médicament "${nom}" ?`;
    document.getElementById("deleteMedicamentForm").action =
      "{% url 'medicament_hide' 0 %}".replace("0", id);
    var myModal = new bootstrap.Modal(
      document.getElementById("deleteMedicamentConfirmationModal")
    );
    myModal.show();
  }

  function updateFormAction() {
    const id = document.getElementById("editMedicamentId").value;
    const form = document.getElementById("editMedicamentForm");
    form.action = "{% url 'medicament_update' 0 %}".replace("0", id);
  }

  function searchMedicaments() {
    const input = document.getElementById("search");
    const filter = input.value.toLowerCase();
    const table = document.getElementById("medicamentTableBody");
    const rows = table.getElementsByTagName("tr");

    for (let i = 0; i < rows.length; i++) {
      const cells = rows[i].getElementsByTagName("td");
      let found = false;
      for (let j = 0; j < cells.length; j++) {
        if (cells[j]) {
          const txtValue = cells[j].textContent || cells[j].innerText;
          if (txtValue.toLowerCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }
      }
      rows[i].style.display = found ? "" : "none";
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const tableBody = document.getElementById("medicamentTableBody");

    searchInput.addEventListener("keyup", function () {
      const searchTerm = this.value.toLowerCase();
      const rows = tableBody.getElementsByTagName("tr");

      Array.from(rows).forEach((row) => {
        const nomCell = row.getElementsByTagName("td")[1]; // Index 1 pour la colonne "Nom"
        const categorieCell = row.getElementsByTagName("td")[3]; // Index 3 pour la colonne "Catégorie"

        if (nomCell && categorieCell) {
          const nom = nomCell.textContent.toLowerCase();
          const categorie = categorieCell.textContent.toLowerCase();

          if (nom.includes(searchTerm) || categorie.includes(searchTerm)) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        }
      });
    });
  });
</script>
{% endblock %}
