<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Titre par défaut{% endblock %}</title>
     <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.4.0/flowbite.min.css" rel="stylesheet">
     {% load static %}
     <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
     <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <body>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
      {% include 'layout/sidebar_vente.html' %}

      <div class="body-wrapper">
        {% include 'layout/header_vente.html' %}
        {% if form.errors %}
          <div class="alert alert-danger">
              <ul>
                  {% for field in form %}
                      {% for error in field.errors %}
                          <li>{{ error }}</li>
                      {% endfor %}
                  {% endfor %}
              </ul>
          </div>
        {% endif %}

        <div class="container-fluid">
          {% block main_content %} {% endblock %}
        </div>

      </div>
    </div>

 {% load static %}
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-qk4bU63CDiM1e93EUKCK89RPlGSwxOpNhYjsk5TElkzDChOB1S1nKr0MIaMZoc7v" crossorigin="anonymous"></script>
  --></body>
</html>
